body {
    background-color: rgb(255, 255, 255);
}

#um {
    background-color: rgb(236, 127, 236);
    width: 200px;
    height: 200px;
}

#dois {
    background-color: royalblue;
    width: 200px;
    height: 200px;
}

#tres {
    background-color: slateblue;
}

#navbar {
    width: 100%;
    height: 75px;
    background-color: lightgray;
}

ul {
    list-style: none;
    display: flex; justify-content: space-evenly;
}

ul {
    font-size: 20px;
    text-transform: uppercase;
}

